body {
  background: peru;
}

.box {
  border: 3px solid rgb(61, 2, 2);
  height: 100px;
  width: 100px;
  background: rgb(119, 4, 4);
}

.change-color {
  background: brown;
}

h2 {
  margin-left: 400px;
}

#remain {
  margin-left: 150px;
}

table {
  margin-left: 90px;
}
